<launch>
  <!-- Move Base Node -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- 加载所有参数文件 -->
    <rosparam file="$(find car_navigation)/config/v3_nav_config/costmap/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find car_navigation)/config/v3_nav_config/costmap/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find car_navigation)/config/v3_nav_config/costmap/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find car_navigation)/config/v3_nav_config/costmap/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find car_navigation)/config/v3_nav_config/planner/global_planner_params.yaml" command="load" />
    <rosparam file="$(find car_navigation)/config/v3_nav_config/planner/local_planner_params.yaml" command="load" />
    <rosparam file="$(find car_navigation)/config/v3_nav_config/move_base/move_base_params.yaml" command="load" />
  </node>
</launch>